html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
}

body
{
    background: #fff;
    font: 14px/1.333 sans-serif;
    color: #111;
}

header#primary
{
    width: 100%;
    height: 100px;
    background: #cca;

}
header#primary h1
{
    margin: 0px 0px 0px 20px;
    padding: 0px;
    line-height: 100px;
    color: #ffc;
}

#sidebar
{
    float: left;
    width: 250px;
    background: #ffc;
    min-height: 100%;
}

#main
{
    float: left;
	padding: 10px;
	      width: 70%;
      word-break: break-word;
}


